
<nav class="navbar navbar-expand-md bottom-header navbar-fixed-top">
  <div class="container">
      <a class="navbar-brand" routerLink="/">
     

          <img src="../../assets/img/anatel-ventures-white.png" class="change-logo" alt="brand">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"><i class="fa fa-bars"></i></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
              <li class="nav-item active">
                  <a class="nav-link" routerLink="/">Home</a>
              </li>
              <li class="nav-item ">
                  <a routerLink="about-us" class="nav-link" >About</a>
              </li>

              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" routerLink="our-services" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Services
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a  routerLink="tour-travels" class="dropdown-item">Tour & Travels</a>

                      <a  routerLink="education-counselling" class="dropdown-item">Education Counselling</a>

                      <a  routerLink="it-services" class="dropdown-item">IT Services</a>
                      <a  routerLink="digital-marketing" class="dropdown-item bb-none">Digital Marketing</a>
                  </div>
              </li>



              <li class="nav-item">
                  <a routerLink="contact-us" class="nav-link bbsm-none" >Contact</a>
              </li>

          </ul>

      </div>
  </div>
</nav>
