<section class="about-us-top">

</section>
<section class="about-us mb-30">
    <div class="aboutMain paddingSpace">
    <h1>CAREER</h1>

    </div>
</section>


<section class="currentOpenings paddingSpace">
    <div class="container">
        <h2>Current openings</h2>
        <div class="row">
            <div class="col-md-6">
                <h3>SEO Executive</h3>
                <p><strong style="font-weight:600;">Requirements</strong></p>
                <p>Experience: 0 to 1 year </p>
               <p> Functional Area: Marketing, Advertising, MR, PR, Media Planning Role
                Category: Online/Offline/Digital Marketing

                Role: Search Engine Optimization /SEO Specialist Desired Candidate Profile

               </p>
            </div>
            <div class="col-md-6">
                <ul class="job-opening">
                    <li>
                        <div class="job-frame">
                            <a href="javascript:void(0)">SEO Executive</a>
                        </div>
                    </li>
                    <li>
                        <div class="job-frame">
                            <a href="javascript:void(0)">SEO Specialist </a>
                        </div>
                    </li>

                </ul>
            </div>
        </div>
        <hr>

        <div class="row">
            <div class="col-md-6">
                <h3>Education Counselor</h3>
                <p><strong style="font-weight:600;">Requirements</strong></p>
                <p>Experience: 1 to 2 years </p>
                <p><strong style="font-weight:600;">Job Description: </strong>Counseling prospective students and guiding them about the different type of Study like distance Education(IGNOU)</p>
                <p>Counseling through Data Calling, chat Advise students on specific degree programs and admission procedures</p>
                <p>Collect the feedback from the participants and consolidate the same Handling queries over telephone Converting leads into admissions.</p>
                <p>Calling on given leads</p>
                <p>Excellent Communication Skills. Good Interpersonal Skills Self-Motivated.</p>
            </div>
            <div class="col-md-6">
                <ul class="job-opening">
                    <li>
                        <div class="job-frame">
                            <a href="javascript:void(0)">Education Counselor</a>
                        </div>
                    </li>
                    <li>
                        <div class="job-frame">
                            <a href="javascript:void(0)">Education Counselor Expert</a>
                        </div>
                    </li>


                </ul>
            </div>
        </div>
    </div>

</section>

<section class="joinUs">
    <div class="container">
        <div class="row">

            <div class="col-md-8 mx-auto">
                <h2 class="text-center">Join Us</h2>
                <div class="row no-gutters">
                        <div class="col-sm-4">
                            <div class="carrerFormImg">
<div class="text-center pt-92">
<img src="../../assets/img/anatel-ventures-carrers-logo.png" alt="">

</div>
                            </div>
                        </div>
                        <div class="col-sm-8">
    <div class="careerform">
<form action="" method="post">
<!-- <input type="hidden" name="_token" value="{{csrf_token()}}"> -->
<div class="inner-addon left-addon">
    <i class="fa fa-user"></i>
                                <input type="text" name="name" id="" class="form-control" placeholder="Name" required>
                            </div>
<div class="inner-addon left-addon">
    <i class="fa fa-envelope"></i>
                                <input type="email" name="email" id="" class="form-control" placeholder="Email" required>
                            </div>
<div class="inner-addon left-addon">
    <i class="fa fa-phone"></i>
                                <input type="phone" name="phone" id="" class="form-control" placeholder="phone" required>
                            </div>
<div class="inner-addon left-addon">
    <i class="fa fa-map-marker"></i>

                                    <input type="text" name="address" id="" class="form-control" placeholder="Address" required>

                            </div>
<div class="inner-addon left-addon">
    <i class="fa fa-comments-o"></i>
                                <textarea name="message" id=""  rows="4"  class="form-control" placeholder="Something about you"></textarea>
                            </div>

<div class="">
    <input type="file" name="" id="" class="form-control" placeholder="Resume" required>
</div>
                        <div class="mx-auto mt-4">
                            <input type="submit" value="Submit">
                        </div>
</form>
         </div>

    </div>
           </div>
            </div>

        </div>
    </div>

</section>