<section class="about-us-top"></section>
    <section class="about-us mb-30">
        <div class="aboutMain paddingSpace">
            <h1>About Us</h1>
        </div>

        <div class="container">
            <div class="overview mt-30">
                <h2 class="text-center">Overview</h2>
                <p>Since the formation of Anatel, the growth in the organization has exceeded the peak line which permits the employees to develop their talent which is deeply involved with their soul. Persisting the value of profit and creations going on in the organization, we drag the projects at the level where our end clients always feel satisfied. Inviting and meeting new challenges to accomplish the task on time motivates our unity formed inside the venture. We combine different services like Tour and Travel, Education Counseling, IT services and Digital Marketing which let the world to grow in every field of professionalism. </p>
            </div>




            <article class="mt-30">
                <div class="row">
                    <div class="col-md-4">
                        <div class="visionContent">
                            <h3>Vision</h3>
                            <p>To pioneer the strategy which we have caught from the clients and also analyze the projects on which we are working on. Remark the fluctuation surrounding our environment. Interpret the methodologies applied on the tasks given to the skilled developers and designers. To cross the competitors who block our way to success. The goal of our customers will be the unique measure of the inflexible quest for excellence by all our people giving their valuable time. We dive deep to open insight and have the pride to act.</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="missionContent">
                            <h3>Mission</h3>
                            <p>Anatel is dedicated to provide top-notch education, tour and IT services and supply solutions that enhance quality, safety and environmental requirements as well as, customers’ expectations. We serve a complete service to our customers for Industrial sector to forestall the client's needs and requirement. Coordination of the efforts is the vital aspect. Our specialists unite with your people to frame a firm group. Something other than a guarantee, our ability to team up has turned into a key customer desire. We work with our customers to fabricate the ability that empowers association to accomplish feasible preferred standpoint. This will ensure that what we will accomplish what we desire for at B2B level. </p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="valuesContent">
                            <h3>Values</h3>
                            <p>We will comply with our code of morals in the entirety of our dealings with our clients and with one another. We will be straightforward and honest in all our dealings consistently. Our methodology is centered on our customer: We are glad for continually thinking as far as what is best for the customer; offering arrangements that are hypothetical as well as serviceable; and being in charge of driving the customer along the way to progress. We share a corporate culture of commonly regarding individual ability, and helping each other to develop. Our growth is the customer's development.</p>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>